<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <connectionStrings>
    <add name="Office_Automation_DatabaseEntities" connectionString="metadata=res://*/Models.automationModel.csdl|res://*/Models.automationModel.ssdl|res://*/Models.automationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Office_Automation_Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>